.copySec{
    height: 10vh;
    background: rgba(16, 20, 24, 0.7);
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  
  .copySec span {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
  }